<div class="category-container">

  <h2>Stock Management</h2>

  <!-- FORM -->
  <div class="form-box">
    <input type="text" placeholder="Product Name" [(ngModel)]="stockModel.productName" />
    <input type="number" placeholder="Quantity" [(ngModel)]="stockModel.quantity" />
    <input type="text" placeholder="Size" [(ngModel)]="stockModel.size" />
    <input type="text" placeholder="Batch Number" [(ngModel)]="stockModel.batchNumber" />
    <input type="number" placeholder="Purchase Price" [(ngModel)]="stockModel.purchasePrice" />
    <input type="number" placeholder="Sell Price" [(ngModel)]="stockModel.sellPrice" />

    <button *ngIf="!isEdit" (click)="addStock()">Add Stock</button>
    <button *ngIf="isEdit" (click)="updateStock()">Update Stock</button>
    <button class="cancel" *ngIf="isEdit" (click)="resetForm()">Cancel</button>
  </div>

  <!-- TABLE -->
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Size</th>
        <th>Batch</th>
        <th>Purchase</th>
        <th>Sell</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let stock of stocks">
        <td>{{ stock.id }}</td>
        <td>{{ stock.productName }}</td>
        <td>{{ stock.quantity }}</td>
        <td>{{ stock.size }}</td>
        <td>{{ stock.batchNumber }}</td>
        <td>{{ stock.purchasePrice }}</td>
        <td>{{ stock.sellPrice }}</td>
        <td>
          <button class="edit" (click)="editStock(stock)">Edit</button>
          <button class="delete" (click)="deleteStock(stock.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
