<div class="category-container">

  <h2>Stock Management</h2>

  <!-- FORM -->
  <div class="form-box">

    <select [(ngModel)]="stockModel.productId" (change)="onProductChange()">
      <option value="">-- Select Product --</option>
      <option *ngFor="let p of products" [value]="p.Id">
        {{ p.Name }} ({{ p.CategoryName }})
      </option>
    </select>

    <input type="number" placeholder="Quantity" [(ngModel)]="stockModel.quantity" />
    <input type="text" placeholder="Size" [(ngModel)]="stockModel.size" />
    <input type="text" placeholder="Batch Number" [(ngModel)]="stockModel.batchNumber" />
    <input type="number" placeholder="Purchase Price" [(ngModel)]="stockModel.purchasePrice" />
    <input type="number" placeholder="Sell Price" [(ngModel)]="stockModel.sellPrice" />

    <button *ngIf="!isEdit" (click)="addStock()">Add Stock</button>
    <button *ngIf="isEdit" (click)="updateStock()">Update Stock</button>
    <button class="cancel" *ngIf="isEdit" (click)="resetForm()">Cancel</button>
  </div>

  <!-- TABLE -->
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Size</th>
        <th>Batch</th>
        <th>Purchase</th>
        <th>Sell</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let stock of stocks">
        <td>{{ stock.Id }}</td>
        <td>{{ stock.ProductName }}</td>
        <td>{{ stock.Quantity }}</td>
        <td>{{ stock.Size }}</td>
        <td>{{ stock.BatchNumber }}</td>
        <td>{{ stock.PurchasePrice }}</td>
        <td>{{ stock.SellPrice }}</td>
        <td>
          <button class="edit" (click)="editStock(stock)">Edit</button>
          <button class="delete" (click)="deleteStock(stock.Id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
