<div class="admin-wrapper">

  <!-- Sidebar (STATIC) -->
  <aside class="sidebar">
    <h2 class="logo">
      Elegant Boutique House<br>
      <span>Admin Panel</span>
    </h2>

    <ul class="menu">
      <li routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Dashboard
      </li>
      <li routerLink="/admin/users" routerLinkActive="active"> UserList Management</li>
      <li routerLink="/admin/products" routerLinkActive="active">Product Management</li>
      <li routerLink="/admin/category" routerLinkActive="active">Category Management</li>
      <li routerLink="/admin/subcategory" routerLinkActive="active">SubCategory Management</li>
      <li routerLink="/admin/stock" routerLinkActive="active">Stock Management</li> <!--order sp--f4-->
      <li routerLink="/admin/orders" routerLinkActive="active">Order Management</li>
      <li routerLink="/admin/report" routerLinkActive="active">Report</li>
    </ul>
  </aside>

  <!-- Main Content -->
  <main class="content">                                                                                       

    <div class="top-bar">
      <button class="back-btn" (click)="goBack()">⬅ Back</button>
      <h2>Admin Dashboard</h2>
      <button type="button" class="logout-btn" (click)="logout()">Logout</button>
    </div>

    <!-- Dashboard Overview (Only for /admin) -->
<div class="dashboard-overview" *ngIf="router.url === '/admin'">

  <div class="stats-grid">

    <div class="stat-card">
      <div class="stat-icon">🧾</div>
      <div>
        <h3>Total Orders</h3>
        <p class="stat-number">{{ totalOrders }}</p>
      </div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">👤</div>
      <div>
        <h3>Total Users</h3>
        <p class="stat-number">{{ totalUsers }}</p>
      </div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">🛍️</div>
      <div>
        <h3>Total Products</h3>
        <p class="stat-number">{{ totalProducts }}</p>
      </div>
    </div>
<div class="stat-card">
      <div class="stat-icon">💰</div>
      <div>
        <h3>Total Profit</h3>
        <p class="stat-number">{{ totalProfit }}</p> <!-- SP_GetDashboardStats-->
      </div>
    </div>


  </div>

  <!-- Recent Orders Section -->
  <div class="dashboard-section">
    <h3>Recent Orders</h3>

    <table class="dashboard-table">
      <thead>
        <tr>
          <th>User</th>
          <th>Phone Number</th>
          <th>Status</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of recentOrders">
          <td>{{ order.UserName }}</td>
          <td>{{ order.Phone }}</td>
          <td class="status pending">{{order.Status}}</td>
          <td>৳ {{order.TotalAmount}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


    <!-- ONLY router outlet, no dashboard cards -->
    <router-outlet></router-outlet>

  </main>

</div>
