.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #2b0a3d, #9c1d5f);
 /* Magenta style */
  padding: 15px 40px;
}

.logo a {
  color: rgba(255, 255, 255, 0.87);
  font-size: 100px !important;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
}
