<nav class="navbar">
  <div class="logo text-white">EioRFashion</div>

  <ul class="nav-links">
    <li><a routerLink="/navbar/home">Home</a></li>
    <li><a routerLink="/about-us">About Us</a></li>

    <!-- Men Menu -->
    <li class="dropdown">
      <a (click) ="showproducts('men')">Men</a>

    </li>

    <!-- Women Menu -->
    <li class="dropdown">
      <a (click) ="showproducts('women')">Women</a>
     
    </li>
  </ul>

  <div class="auth">
    <ng-container *ngIf="!isLoggedIn">
      <a (click)="login()">Sign In</a> /
      <a (click)="signup()">Sign Up</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <div class="user-menu" (click)="toggleDropdown()">
        <span class="username">Welcome, {{ username }}</span>
        <span class="arrow">▼</span>

        <div class="dropdown" *ngIf="showDropdown">
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
    <router-outlet> </router-outlet>
<app-footer></app-footer>