.profile-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 3px solid #9c1d5f;
  background-color: white;
}

.card {
  background: #ffffff;
  padding: 20px;
}

h3, h5 {
  color: #2b0a3d;
}

.fw-bold {
  color: #9c1d5f;
}
