<footer class="footer">
  <div class="quote">
    <img src="/assets/MyProjectLogo/logo2.jpg" alt="EioRFashion Logo" class="footer-logo">
    <span class="brand-name">EORFashion</span>
    <p>Excellence in Style</p>
  </div>
  
  <div class="contact">
    <p>Contact Us:</p>
    <p><i class="fa-solid fa-location-dot"></i> Address: 123 Fashion Street, Dhaka</p>
    <p><i class="fa-solid fa-phone"></i> Phone: +880 1760713304</p>
    <p><i class="fa-solid fa-envelope"></i> Email: EORFashion@gmail.com</p>
  </div>

  <div class="footer-bottom">
    © 2025 EORFashion — Sanjida Emu
  </div>
</footer>
