<div class="confirm-page">

  <!-- TOP BAR -->
  <div class="top-bar">
    <div class="brand">EORFashion</div>

    <div class="user-box">
      <span>{{ user?.Name }}</span>
      <button (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="confirm-container">

    <!-- LEFT -->
    <div class="glass">

      <div class="section">
        <h3>User Details</h3>
        <input placeholder="Name" [(ngModel)]="order.userName">
        <input placeholder="Phone" [(ngModel)]="order.phone">
        <textarea placeholder="Address" [(ngModel)]="order.address"></textarea>
      </div>

      <div class="section">
        <h3>Products</h3>

        <div class="product-line" *ngFor="let p of cartItems">
          <span>{{ p.ProductName }} × {{ p.Quantity }}</span>
          <span>৳ {{ p.TotalPrice }}</span>              <!--subtotal qty*price-- order--f8-->
        </div>

        <div class="grand-total">
          Total: ৳ {{ getTotal() }}
        </div>
      </div>

    </div>

    <!-- RIGHT -->
    <div class="glass">

      <h3>Payment Method</h3>

      <div
        class="payment-box"
        *ngFor="let m of payments"
        [class.active]="order.payment === m"
        (click)="selectPayment(m)"
      >
        {{ m }}
      </div>

      <!-- MOBILE NUMBER -->
      <div *ngIf="showMobileInput" class="payment-input">
        <input
          type="text"
          placeholder="Enter Mobile Number"
          [(ngModel)]="mobileNumber"
        />
      </div>

      <!-- OTP ONLY -->
      <!-- <div *ngIf="showPinInput" class="payment-input">
        <input
          type="text"
          [placeholder]="pinPlaceholder"
          [(ngModel)]="pinOrCard"
        />
      </div> -->

      <button class="confirm-btn" (click)="confirmOrder()">
        Confirm Order
      </button>

      <p class="secure-text">🔒 Secure Checkout</p>

    </div>

  </div>
</div>
